head {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

img {
    width: 400px;
}

.logo a {
    font-size: 50px;
    font-weight: 700;
    float:left;
    font-family: poppins;
    color: rgb(10, 10, 10);
    text-decoration: none;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #C6E7FF;
    z-index: 1;
    border-bottom: 1px solid 120000rgb (10, 10, 10) ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: 300;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: rgb(12, 12, 12);
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: antiquewhite;
    width: 100%;
    line-height: 50px;
}

a.tbl-hitam {
    background: rgb(246,245, 244);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #2008f7;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hitam {
    background: #120000;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    color: pointer;
    font-weight: bold;
}

a.tbl-hitam:hover {
    background-color: rgb(246, 245, 244);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #120000;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.turor-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: black;
}

.jadwal-kursus {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.jadwal {
    width: 20%;
    margin: 0 auto;
}

.jadwal p {
    width: 150px;
    border-radius: 50%;
}

#mentor-pengajar {
    background-color: antiquewhite;
    /* padding: 50px 0px 50px 0px; */
}

.tengah {
    text-align: center;
    width: 100%;
}

.list-mentor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mentor {
    width: 20%;
    margin: 0 auto;
}

.mentor img {
    width: 300px;
    /* border-radius: 50%; */
}

.mentor p {
    font-size: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: black;
}

h2 {
    font-size: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(14, 13, 13);
    width: 100%;
    line-height: 50px;
}


